<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
</head>

<header class="site-header">
  <h1>Welcome to {{ site.title }}</h1>
  <p>{{ site.description }}</p>
</header>

<nav>
  <ul>
    <li>
      <a href="{{ site.baseurl }}/categories/databases/">Databases</a>
      <ul>
        <li><a href="{{ site.baseurl }}/categories/databases/mongo/">Mongo</a></li>
        <li><a href="{{ site.baseurl }}/categories/databases/mysql/">MySQL</a></li>
        <li><a href="{{ site.baseurl }}/categories/databases/progress/">Progress</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ site.baseurl }}/categories/os/">OS</a>
      <ul>
        <li><a href="{{ site.baseurl }}/categories/os/linux/">Linux</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ site.baseurl }}/categories/cloud/">Cloud</a>
      <ul>
        <li><a href="{{ site.baseurl }}/categories/cloud/aws/">AWS</a></li>
        <li><a href="{{ site.baseurl }}/categories/cloud/azure/">Azure</a></li>
      </ul>
    </li>
  </ul>
</nav>


<footer class="site-footer">
  <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
</footer>
</html>